*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    border-bottom: solid 1px #cfcfcf;
    height: 50px;
}

nav a{
    float:right;
    margin: 5px 30px
}
.bienvenida{
    width: 55%;
    float: left;
    text-align: center;
}

.bienvenida h1{
    color: #aaaaaa;
    font-weight: 100;
}

.formulario{
    width: 40%;
    height: 500px;
    float: right;
    border-left: solid 1px #cfcfcf;
    border-bottom: solid 1px #cfcfcf;
    margin: 0 0 0 5px; 
    box-shadow: -1px 1px 10px #888888;
}

.formulario .eleccion{
    margin: 15px 0;
    text-align: center;
    border-bottom: solid 1px #cfcfcf;
}

.formulario .eleccion span{
    padding: 10px;
    margin: 35px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.formulario h4{
    text-align: center;
}

.formulario form{
    margin: 10px;
}

.formulario form input{
    margin: 5px 0;
}

.form-control{
    width: 100%;
}